@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");


/* -------------- */
/* DEFAULT VALUES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-custom {
  background-color: rgb(37, 42, 189) !important;
}
/* Custom CSS */
.btn-contact {
color: rgb(255, 255, 255); /* Light blue text color */
background-color:transparent; /* White background color */
width: 150px;
height: 40px;
border-radius: 20px;
border: 1px solid rgb(33, 164, 208);
}
.btn-contact:hover {
color: rgb(243, 243, 243); /* White text color on hover */
background-color: rgb(20, 131, 200); /* Light blue background color on hover */
}
/*  */
/* Custom CSS */
.bg-dark-blue {
  background-color: #1e79d5; /* Dark blue background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
.bg-dark-green {
  background-color: #8d42d4; /* Dark green background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-link {
  color: white; /* White text color */
}
.nav-link:hover {
  color: #00080f; /* Light gray text color on hover */
}

.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  background-image: radial-gradient(at 9.2% 73.7%, #c9ebff 0px, transparent 50%),
    radial-gradient(at 92.3% 7.6%, #cff1ff 0px, transparent 50%);
  background-repeat: no-repeat;
}

/* ------ */
/* INTRO */

#intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 40px;
  min-height: 100dvh;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;
}

.info h1 {
  font-family: "Young Serif", serif;
  text-align: center;
  font-size: 3rem;
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.split-beer {
  display: flex;
  flex-direction: row;
}

.beer {
  width: 100%;
  width: 550px;
  border-radius: 20px;
  margin-left: 15px;
  border: 2px solid rgb(94, 139, 147);
}

.beer:nth-child(2) {
  transform: translateY(-1.5rem);
}

.button:after,
.close-btn:after {
  background: #fff;
}

.explore,
.explore:before,
.close-btn,
.close-btn:before {
  background: rgb(81, 158, 220);
  background: linear-gradient(
    45deg,
    rgb(21, 90, 126) 0%,
    rgb(14, 104, 126) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(7, 143, 255) 0%,
    rgb(34, 100, 255) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(7, 156, 255) 0%,
    rgb(34, 67, 255) 100%
  );
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
}

.button:hover::after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.5s;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2.5px;
  top: 2px;
  bottom: 2.5px;
  right: 2px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.5s;
}

/* -------- */
/* CONTENT */

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 60px 40px;
  min-height: 100dvh;
  overflow: hidden;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  border: 1px solid #000;
  width: 300px;
  aspect-ratio: 1/1;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05);
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #3d51b6;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.open-icon {
  font-size: 1.25rem;
  color: #000;
  transform: translateY(3px);
  margin-left: 3px;
  z-index: 1;
}

.modal-open {
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  grid-area: 1 / 2 / span 1 / span 1;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 2;
  transition: all 450ms ease-in 200ms;
}

.card:hover > .card-img {
  width: 50%;
  height: 50%;
  top: 50%;
  border-radius: 0 0 0 20px;
}

/* ------ */
/* MODAL */

body.prevent-background-scroll {
  min-height: 100dvh;
  overflow-y: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  animation: openModal 0.3s ease-in-out 1 normal;
}

@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

  /* CSS for image gallery */
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.image-item {
    width: 200px;
}
.image-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  border-radius: 4px;
  z-index: 30;
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 15px 20px 10px;
  font-size: 1.2rem;
}

.modal-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d1d5db;
}

.modal-header .modal-close {
  background: #efefef;
  border: 0;
  outline: 0;
  transform: translateY(3px);
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  font-size: 1.6rem;
  color: #000;
  transform: scale(1);
  transition: all 0.3s;
}

.close-icon:hover {
  transform: scale(1.3);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px;
  height: 70vh;
  overflow-y: auto;
}

.modal-body > img {
  max-width: 100%;
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px;
}

/* ---------- */
/* SCROLLBAR */

.modal-body::-webkit-scrollbar {
  width: 0.7rem;
}

.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
  background-color: rgba(28, 103, 195, 0.1);
}

.modal-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgb(34, 95, 187);
  outline: none;
}

/* ------ */
/* FOOTER */

footer {
  display: grid;
  place-items: center;
  padding: 20px 150px 60px;
}

footer > p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

/* ------ */
/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .beer {
    width: 200px;
  }

  #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #intro {
    padding: 30px;
  }

  .beer {
    width: 150px;
  }

  .info {
    gap: 20px;
    padding: 30px 30px;
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    font-size: 1rem;
  }

  #content {
    gap: 30px;
    padding: 60px 20px;
  }

  .card {
    width: 250px;
  }

  .modal-content {
    width: 80%;
  }

  footer {
    padding: 20px 80px 60px;
  }

  footer > p {
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  #intro {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "split-beer"
      "info";
  }

  .info {
    grid-area: info;
  }

  .split-beer {
    grid-area: split-beer;
    margin: 20px auto;
  }

  .beer {
    width: 100px;
  }

  #content {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px;
  }

  footer {
    padding: 20px 30px 60px;
  }

  footer > p {
    font-size: 1rem;
  }
}
.contact{
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.contact .section-title h2{
  margin-bottom: 40px;
  color: #3d51b6;
  font-family: 'Courier New', Courier, monospace;
}
.contact .section-title{
  text-align: center;
  padding-bottom: 30px;
}
.contact .info-box {
  
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 0 32px 0;
    border-radius: 4px;
  }
  
  .contact .info-box i {
    
    font-size: 32px;
    color:rgb(4,9,150);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 25px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #063079;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: rgb(4,9,150);
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background:rgb(3, 6, 99);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #fff;
    font-size: 14px;
    background: #073a54;
  }
  
  #footer .footer-top {
    padding: 80px 0 10px 0;
    background: #175f7a;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact h3 span {
    color: #0d3668;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #0d3785;
    bottom: 0;
    left: 0;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: white;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #aaaaaa;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: rgb(23, 37, 106);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #08174c;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2b2b2b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #111370;
    color: #fff;
    text-decoration: none;
  }